@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-yellow: #ffca40;
  --color-red: #c8161d;
  --color-grey: #808080;
  --color-creamy: #f8f8f7;
}
@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide {
    animation: slide 12s linear infinite;
  }
}

